/* colors */
$primary-200: #e3eca3;
$primary-300: #d4e276;
$primary-400: #c5d74a;
$primary: #abbe2c;
$primary-600: #9aaa2c;
$primary-700: #89972c;
$primary-800: #79852a;
$neutral: #585858;
$neutral-600: #737373;
$neutral-500: #8e8e8e;
$neutral-400: #aaaaaa;
$neutral-300: #c6c6c6;
$neutral-200: #e2e2e2;
$neutral-100: #ffffff;
$neutral-800: #2c2c2c;
$neutral-900: #000000;
$new-color-400: #ffffff;
$new-color-300: #ffffff;
$new-color-600: #ffffff;
$new-color-700: #2c8795;
$new-color-800: #ffffff;
$new-color-200: #c12121;
$new-color: #b67d27;
$new-color-400: #f2c37b;
$new-color-300: #e2a343;
$new-color-600: #7b5b2b;
$new-color-700: #493b25;
$primary-400: #9c1c0d;
$primary-300: #c91f0b;
$ff-40-ca: #7d96ac;
$primary-600: #671f16;
$111: #72180d;
$黑色: #a0f800;
$font-black: #a0f800;
$new-color: #2d7584;
$new-color-400: #6ed4ea;
$new-color-600: #2a525b;
$new-color-700: #213337;
$new-color-300: #35b5cf;
$new-color: #7162a2;
$new-color-400: #bbacec;
$new-color-600: #514d5e;
